<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulece.admin.mapper.admin.DeptMapper">

    <resultMap id="adminDeptResult" type="AdminDept">
        <id column="dept_id" property="deptId"/>
        <result property="deptName" column="dept_name"/>
        <result property="deptLevel" column="dept_level"/>
        <result property="deptSeq" column="dept_seq"/>
        <result property="deptRemark" column="dept_remark"/>
        <result property="deptParentId" column="dept_parent_id"/>
        <result property="operator" column="operator"/>
        <result property="operateIp" column="operate_ip"/>
    </resultMap>


    <select id="getOne" parameterType="java.lang.Integer" resultMap="adminDeptResult">
      select  * from admin_dept where dept_id = #{id}
    </select>

    <select id="getDeptChildListByLevel" resultMap="adminDeptResult">
        select * from admin_dept where dept_level like concat(concat(#{value}),".%")
    </select>

    <update id="batchUpdateLevel" parameterType="map">
      <foreach collection="adminDepts" item="dept" separator=";">
          UPDATE admin_dept
          SET dept_level = #{dept.deptLevel}
          WHERE dept_id = #{dept.deptId}
      </foreach>
    </update>

    <select id="countByNameAndParentId" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from admin_dept
        where dept_name =#{name}
        <if test="parentId!=null">
         and dept_parent_id = #{parentId}
        </if>
        <if test="deptId!=null">
          and dept_id != #{deptId}
        </if>
    </select>
</mapper>